{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SplitGo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   <h1>Split Go</h1> 
   <p>Free and open source bill splitting app written in Go</p>
   <p>Free and open source bill splitting app written in Go</p>
   <a href="/login">Login</a>
   <br>
    <a href="/signup">Sign up</a>
</body>
</html>
{{end}}